{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="/static/accounts/myrest.css">
{% endblock %}

{% block content %}
<!-- <h1>Minhas Folgas</h1> -->
    <div class="painel-folgas">
        <div id='linha'>teste</div>
        <div id='linha'>teste1</div>
        <div id='linha'>teste2</div>
        <div id='linha'>teste3</div>

    </div>
<!--         
        {% if folgas %}
            {% for folga in folgas %}

                {{folga}}<br>
            {% endfor %}
        {% endif %} -->
{% endblock %}