<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="/static/app/base.css">

</head>

{% block style %}
{% endblock %}

<header class="header-top">
    <div class="title-system">
        <h1>-- GestaoTI --</h1>
    </div>
    <div class="botton-right-logout">
        <a href=" {% url 'logout' %} "><img id="logout-img" src="/media/image/sair.png" alt="" width="30px" height="30px"></a>
    </div>
</header>

<body>

    <div class="conteiner">
        
        <div class="box-lateral">
            <nav id="sidebar" class="collapse d-lg-block sidebar collapse bg-white">
            <ul>
                {% if user.is_authenticated %}
                    <li id="welcome-name">Olá, {{ user.username}}!</li>
                
                    <a class="options-navbar" id="calendario" href="{% url 'profile' user.pk %} " title="Meu Perfil"><li id="profile" class="options-navbar" >Meu Perfil</li></a>
                    <a class="options-navbar" id="profile" href="{% url 'aplication' %}" title="calendário"><li id="calendario" class="options-navbar" >Calendário</li></a>
                    <a class="options-navbar" id="rest" href="{% url 'rest' user.pk %} "><li  id="rest" class="options-navbar">Minhas Folgas</li></a>
                    <a class="options-navbar" id="vacation" href="{% url 'vacation' user.pk %} "><li id="vacation" class="options-navbar">Minhas Férias</li></a>
                    {% if user.cargo_id == 3 or user.cargo_id == 1%}
                        <a class="options-navbar" id="router" href="{% url 'router' %} "><li id="router" class="options-navbar">Roteiro</li></a>
                    {% endif %}

                    {% if user.cargo_id == 1 %}
                        <br><br><h1>{{user.cargo}}</h1>
                        <a class="options-navbar" id="solicitacao" href="{% url 'viewsolicitacao' %} "><li  id="solicitacao" class="options-navbar">Solicitações</li></a>
                        <a class="options-navbar" id="viewgeral" href="{% url 'viewgeral' %} "><li  id="viewgeral" class="options-navbar">Visão Geral</li></a>
                    {% endif %}
                {% endif %}

            </ul>
    
            </nav>
        </div>
        
        <div class="box-center">
            <div class="ld_esquerdo"></div>
            <div class="conteudo-principal">
                {% block content %}
                
                {% endblock %}
            </div>
            <div class="ld_direito"></div>
        </div>

    </div>

</body>

<footer><p id="footer">&copy; 2024 Hallennen Marinho</p></footer>
</html>