{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="/static/aplication/css/listvacation.css">
{% endblock %}

{% block content %}
    {% if user.cargo.id == 1 %}
        <h2 id='titulo'>
            Férias
        </h2>
        <div class='form-ferias'>

            <form method="POST">
                {% csrf_token %}
                
                {{form}}
                <button class="button-enviar" type="submit">Cadastrar</button>
            </form>
        </div>

        {% for ano, ferias_ano in ferias_ano.items %}
            <section class="mais_opcoes">
                <button class="{{ano}}" id="ano">
                    <label class='text' for="{{ano}}" >{{ano}}
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25304.png" height="10px"  width="10px"></button>
                    </label>

                <input type="checkbox" id="{{ano}}">

                    
                <div class="informacoes">
                    
                    <div id="linha-tituloss">
                        
                        <div class="item" id='box'>TÉCNICO:</div>
                        <div class="item" id='box'>DATA INICIO:</div>
                        <div class="item" id='box'>DATA FIM:</div>
                        <div class="item" id='box'>MES:</div>
                        <div class="item" id='box'>UNIDADE:</div>
                        <div class="item" id='box'>AÇÃO:</div>
                    </div>
                {% for ferias in ferias_ano %}
                        <div id="linha-ferias" title=' {{ferias.pk}}' >
                            
                            <div class="linha-ferias item" >{{ferias.pessoa_vacation}}</div>
                            <div class="linha-ferias item">{{ferias.start_vacation}}</div>
                            <div class="linha-ferias item">{{ferias.end_vacation}}</div>
                            <div class="linha-ferias item">{{ferias.month}}</div>
                            <div class="linha-ferias item">{{ferias.unit}}</div>
                            <div class="linha-ferias item ">
                                <a href="{% url 'excluirvacation' ferias.pk %}"  title=' Excluir Registro' class="icon-excluir"><img id='excluir' src="/media/image/excluir.png" alt="" width="20px" height="20px"></a>
                            </div>
                    
                        </div>
                        
                    {% endfor %}
                </div>
                                
                    

            </section>
        {% endfor %}
    {% else %}
        <h1>Voce não tem permissão para acessar essa página</h1>
    {% endif %}

{% endblock %}